[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
python-dotenv = "*"
mysqlclient = "*"
pymongo = "==3.12.1"
djongo = "*"
dnspython = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.12.0"
